footer {
    background-color: $primary;
    color: $solidWhite;
    padding: 90px 0 50px 0;
    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    .footerLogo h4 {
        color: $solidWhite;
    }
}

.footerNav {
    width: 40%;
    nav {
        display: flex;
        justify-content: space-between;
    }
    ul {
        width: calc(100% / 3);
    }
    a {
        color: rgba($solidWhite, $alpha: 0.5);
        font-size: 0.8rem;
		line-height: 1.5rem;
        &:hover, &:focus {
            color: rgba($solidWhite, $alpha: 1);
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    a {
        margin-right: 10px;
    }
    i {
        margin: 10px 0;
    }
}